.simple-card-m {
  margin-top: 10px;
}



.espacio-derecha{
  margin-right: 20px;
  background-color: rgb(116, 17, 129);
  color: white;
}

.cont {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.ancho {
  margin-top: 0.35em;
  width: 100%;
}

.btn-agregar{
  background-color: rgb(116, 17, 129);
}