
 .main{
  background: url("../../../../assets/img/pexels-negative-space-48606.jpg") no-repeat right;
  background-size: cover;
  min-height: 100hv;
  position: relative;
  display: grid;
z-index: 0;
  align-items: center;
  color: rgb(209, 209, 209);
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
} 
.info-per{

}


/* .main::before{
  content:"";
  background-color: rgba(0, 0, 0,0.57);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
}  */

.img-n{
  margin: 10px;
  border: 4px solid #fff;
  border-radius: 100px;
  /* max-width: 100%; */
  height: 200px;
  width: 200px;
  /* opacity: 0.7;
  filter: alpha(opacity=50); */
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

.redondo-about{
  border-radius: 50%;
  text-align: center;
  width: 45%;
  height: 300px;
  margin: 0 27%;
  position: relative;
  opacity: 0.9;
  background-color: rgb(142, 94, 164);
  color: rgb(241, 236, 239);
}

.redondo-about h3{
  font-size: 15px;
  font-weight: bolder;
  display: block;
  position: relative;
  padding: 10% 2rem; 
   font-family: 'Source Code Pro', monospace;
}



.container1{
  padding-top: 100px;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;

}

.simple-card-m {
  margin: 3%;
  width: 40%;
  float: left;
}  

.nuevo{
  text-align: center;
  margin:5% ;
  height: 50%;
}






.simple-card-c {
  margin: 3%;
  width: 40%;
  height: 10%;
  margin-bottom: 10px;
}  



.k{
  margin: 0 auto;
  width: 75%;
  align-items: center;
  height: 60px;
  background-color: rgba(59, 61, 60, 0.963);
  border-radius: .5em;
}    

.column1 h3{
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  line-height: 42px;
}    

.grid-column-2{
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 90px;
}  



.column1{
  text-align: left;
}  

.educacion{
  border-bottom: solid 3px rgba(150, 238, 180, 0.32);
  margin-bottom: 30px;
  padding-bottom: 10px;
}  


.progress{
   width: 90%; 
   float: left;
   padding: 15px;
   margin: 5px  10px 10px 10px;
  /* margin-top: 5px; */ 
  display:inline;
}  

.bxl-html5, .bxl-css3, .bxl-java, .bxl-javascript, .bxl-angular{
  font-size: 50px;
  float: left;
  display:inline;
  width: 5%;
  margin-top: 5px;
}  









 


 





