<div class="container">

  <mat-toolbar class="container">
    <span>Contactame</span>
  </mat-toolbar>
  
  <div class="body">
    <mat-card class="simple-card-m">
     <div class="login">
       <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
  
          <form  id="my-form" action="https://formspree.io/f/mdobrajv"
          method="POST"(ngSubmit)="ingresar()" *ngIf="!loading" [formGroup]="form" >
          <!-- <img src="./assets/img/user.png" alt="imagen de usuario"> -->
        
          <h1>Formulario de Contacto</h1>
        <mat-form-field class="ancho" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input 
          name="name"
          matInput
          formControlName="nombre"
          placeholder="nombre"
          >
        </mat-form-field>
        <mat-form-field class="ancho" appearance="outline">
          <mat-label>Correo</mat-label>
          <input 
          name="email"
          formControlName="email"
          matInput
          placeholder="E-mail"
          >
        </mat-form-field>
  
        <mat-form-field class="ancho" appearance="outline">
          <mat-label>Mensaje</mat-label>
          <textarea 
          name="mensaje"
          matInput 
          placeholder="Mensaje"
          formControlName="mensaje"
          ></textarea>
        </mat-form-field>
        <br>
          <button 
          class="ancho boton" 
          mat-raised-button 
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          >Enviar</button>
          
      </form>
      <script>
        var form = document.getElementById("my-form");
        
        async function handleSubmit(event) {
          event.preventDefault();
          var status = document.getElementById("my-form-status");
          var data = new FormData(event.target);
          fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
          }).then(response => {
            if (response.ok) {
              status.innerHTML = "Thanks for your submission!";
              form.reset()
            } else {
              response.json().then(data => {
                if (Object.hasOwn(data, 'errors')) {
                  status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                } else {
                  status.innerHTML = "Oops! There was a problem submitting your form"
                }
              })
            }
          }).catch(error => {
            status.innerHTML = "Oops! There was a problem submitting your form"
          });
        }
        form.addEventListener("submit", handleSubmit)
    </script>
    </div>
  </mat-card>
    
  </div>
</div>