/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
  margin: 0; 
/* 
  background: url("/src/assets/img/1.jpg");
  background-size: cover; */


  /* background-color: rgb(110, 169, 245); */
  background-color: rgba(231, 201, 245, 0.856);
}


.container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
}

button{
  background-color:rgb(blue, green, blue);
}
