<div class="container">
  <mat-toolbar >

    <span>Agendar</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" class="btn-agregar" routerLink="/inicio/crear-agenda/nuevo">Agregar</button>
  </mat-toolbar>
  
  <div *ngIf="listUsuarios.length > 0">
    <!-- <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field> -->
  
    <!-- <div class="mat-elevation-z8"> -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef class="col-1"> Nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef class="col-1">Apellido</th>
          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="col-1">Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef  class="col-1"> Celular</th>
        <!-- Name Column -->
          <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef class="col-1"> Fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'MM/dd/yyyy'}} </td>
        </ng-container>

        
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef class="col-1"> Hora</th>
          <td mat-cell *matCellDef="let element"> {{element.hora | date: 'HH:MM:SS'}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="acciones">Acciones</th>
          <td mat-cell *matCellDef="let element; let i = index" class="alineacion">
            <a class="icono-1 pointer" matTooltip="Ver" (click)="verUsuario(element.id)">
              <mat-icon>search</mat-icon>
            </a>
            <a class="icono-2 pointer" matTooltip="Editar" (click)="modificarUsuario(element.id)">
              <mat-icon>edit</mat-icon>
            </a>
            <a class="icono-3 pointer" matTooltip="Eliminar" (click)="eliminarUsuario(element.id)">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
          
    
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
      
    <!-- </div> -->
  </div>

  <h2 *ngIf="listUsuarios.length === 0" style="color: #fff;">No existen mensajes para mostrar</h2>
</div>

<!--  CRUD =>CREATE,READ,UPDATE,DELETE
ABML => 
-->